<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887580698099-pol93n2o6iumggnqpjbhr38hf9tt2ic4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887580698099-pol93n2o6iumggnqpjbhr38hf9tt2ic4</string>
	<key>API_KEY</key>
	<string>AIzaSyAQpOkwJSd3ktzoX-clynx9NDUJF9U0yE8</string>
	<key>GCM_SENDER_ID</key>
	<string>887580698099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mbk.DogLife</string>
	<key>PROJECT_ID</key>
	<string>doglife-f91e3</string>
	<key>STORAGE_BUCKET</key>
	<string>doglife-f91e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887580698099:ios:2b94f51d34c9ff8ae45e86</string>
	<key>DATABASE_URL</key>
	<string>https://doglife-f91e3.firebaseio.com</string>
</dict>
</plist>